/* =======
  全局样式
   =======*/
*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
body {
    font-size: 16px;
    color: #dadad9;
    width:100vw;
}
html{
    width: 100vh;
    overflow-x:hidden;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}
body::-webkit-scrollbar {
    display: none;
}
@font-face{
    font-family: "pingfang";
    src:url('../ttf/苹方 细体.ttf');
}
/* =======
  导航栏部分
   =======*/
header{
    width: 100%;
    height:100vh;
    background-color: #ffcf05;
    z-index: 10;
    background-image: url('../img/13.png');
    background-repeat: no-repeat;
    background-position: 0 bottom;
    position: absolute;
    top:0;
    left:0;
}
header nav {
    overflow: hidden;
    position:fixed;
    right:28px;
    top:70px;
    opacity: 0;
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    -webkit-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
            -webkit-transform: scale(0,0);
                -ms-transform: scale(0,0);
                    transform: scale(0,0);
}
header nav li{
    width:40px;
    line-height:40px;
}
header nav li a{
    width:100%;
    text-decoration: none;
    text-align: center;
    font-size:16px;
    color:#fff;
}
header:hover nav{
    -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
}
/*动的时候进行取消classname*/
header nav.navtop{
    top: -5px;
    width:500px;
    right:50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}
header nav.navtop li{
    width:50px;
    float: left;
    line-height: 90px;
}
header nav.navtop li+li{
    margin-left: 15px;
}
header nav.navtop li:nth-child(3){
    margin-left:270px;
}
header nav.navtop li a{
    font-size:16px;
    color:#000;
}

header span{
    display: block;
    margin: 0 auto;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow:hidden;
    z-index: 50;
}

header span.animate{
        -webkit-transition: all 1s ease;
         -o-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
header span.loading{
    right: 50%;
    top : 50%;
     -webkit-transform: translate(50%,0);
         -ms-transform: translate(50%,0);
             transform: translate(50%,0);
}
/*  滑动的时候调用  */
header span.logo{
    right:25px;
}
header img{
    width:100%;
    height: 100%;
}


/*   =======
    主页样式
     =======*/


section.home {
    width: 100%;
    height: calc(100vh - 90px);
    margin-top:90px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    background-image: url('../img/背景.jpg');
    position: relative;
    overflow:hidden;
}
section.home div{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: center center;
    top: 0;
    min-width: 1500px;
}
section .img-red{
    background-image: url('../img/red.png');
}
section .img-blue{
    background-image: url('../img/blue.png');
}
section .img-lightblue{
    background-image: url('../img/lightblue.png');
}
section .img-purple{
    background-image: url('../img/purple.png');
}
section.home .text{
    background-image: url('../img/text.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center center;

}
section .img-yellow{
    background-image: url('../img/yellow.png');
}
section .img-dot-1{
    background-image: url('../img/dot1.png');
}
section .img-dot-2{
    background-image: url('../img/dot2.png');
}

/* =======
  团队介绍
   =======*/
section.team{
    width:100%;
    padding: 100px;
    padding-top:60px;
    padding-bottom:60px;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url('../img/背景.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
section.team>div{
    height:100%;
}
section div.team-meadio{
    width:100%;
    height: 50%;
    min-height: 320px;
    position: relative;
}
section div.team-meadio:after{
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 25px;
    top:0;
    left: 0;
    background-color: #266796;
}
.team-meadio>div{
    width:100%;
    height: 100%;
    overflow:hidden;
}
.team-meadio>div>div{
    width: 50%;
    height: 100%;
    float: left;
}
.team-meadio div.team-name{
    padding-top: 90px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.team-meadio div.team-name span{
    display:block;
    width:100%;
    text-align:center;
    font-size:80px;
}
.team-meadio div.team-name p{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    text-indent:10px;
    font-family: 'pingfang';
}

.team-meadio div.team-video>div{
    margin-right:20%;
    width:450px;
    height: 320px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 15px #000;
            box-shadow: 0 0 15px #000;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.team-meadio div.team-video video{
    width:100%;
    height: 100%;
}
.team-intro div.team-intro-title{
    font-size: 23px;
    position: relative;
    padding-left: 100px;
    padding-bottom: 60px;
}
.team-intro div.team-intro-title:before{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 25px;
    left:0px;
    background-color: #266796;
}
.team-intro div.team-intro-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    padding-right: 5%;
    line-height: 40px;
    overflow: hidden;
    font-family: 'pingfang';
}

/* =======
  加入我们
   =======*/
section.join{
    padding: 100px;
    padding-top:60px;
    padding-bottom: 60px;
    width:100%;
    height:100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   background-image: url('../img/背景.jpg');

}
section.join div.contain{
    width:100%;
    height:100%;
    overflow:hidden;
}

section.join div.box{
    width: 200%;
    height: 100%;
    position: relative;
}
section.join div.box>div{
    width:50%;
    height: 100%;
    float:left;
}
section.join div.from form{
    padding-top:7%;
    overflow:hidden;
    width:100%;
    height:100%;

}
section.join div.from form .label{
    width:50%;
    float:left;
}
section.join div.from form .label label{
    width:100%;
    float: left;
    position: relative;
}
section.join div.from form .label label input{
    width: 100%;
    height: 30px;
    display: block;
    margin: 0 auto;
    border-radius: 0px;
    border:0;
    outline: 0;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid #fff;
    font-size:22px;
    color:#fff;

}
section.join div.from form .label label input:focus{

}

section.join div.from form .label label span:nth-of-type(1){
    display:block;
    margin-top: 1%;
    margin-bottom:20px;
    font-size:22px;
    position: relative;
    top:40px;
    line-height: 25px;
}
section.join div.from form .label label span:nth-of-type(2){
    position: absolute;
    bottom:5px;
    right: 0;
    background-size: 100% 100%;
    background-position: center center;
    width:30px;
    height: 30px;
    background-image: url('../img/对号.png');

   display:none;
}
section.join form>label{
    width:50%;
    height:55%;
    float: left;

}
section.join form>label span{
    display:block;
    width:100%;
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}
section.join form>label textarea{
    width:80%;
    font-size:22px;
    background-color: rgba(0,0,0,0);
    border-radius:15px;
    border: 2px solid #fff;
    outline:0;
    color:#fff;
    padding:30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin: 0 auto;
    height: 80%;
}
section.join form button{
    width: 95%;
    font-size:24px;
    line-height:50px;
    height:50px;
    color: #f5f0f0;
    display: block;
    background-color: rgba(0,0,0,0);
    border:2px solid #fff;
    outline: 0;
    cursor: pointer;
    margin-top:100px;
    position: relative;
    overflow:hidden;
    z-index: 2;
}
section.join form button:after{
    content: '加入我们';
    display:block;
    position: absolute;
    top: 0;
    left:50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
section.join form button div{
    width:0;
    height:100%;
    left: 50%;
   top:50%;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
  -webkit-transform: translate(-50%,-50%) skewX(45deg);
      -ms-transform: translate(-50%,-50%) skewX(45deg);
          transform: translate(-50%,-50%) skewX(45deg);
    position:absolute;
    -webkit-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
                background-color: #fff;
}
section.join form button:hover:after{
    color:#000;
    font-weight: 900;
}
section.join form button:hover div{
    width:100%;
    background-color: #fff;
}
.box .contact{
    width:100%;
    height:100%;
    padding-top:3%;
}
.box p{
    width:30%;
    margin: 0 auto;
    text-align: center;
    line-height:40px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}
.box p a{
    text-align:center;
    text-decoration:none;
    color: #dad9d9;
}
.box p:nth-child(2n){

}
.box p:nth-child(2n-1){
     font-size: 25px;
}
.box .contact p:hover{
    font-size:30px;
}
@-webkit-keyframes left{
    0% {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
    50%  {-webkit-transform:translateX(10px);transform:translateX(10px)}
    100%  {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
}
@keyframes left{
    0% {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
    50%  {-webkit-transform:translateX(10px);transform:translateX(10px)}
    100%  {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
}
@-webkit-keyframes right{
    0% {-webkit-transform:translateX(-20px) rotate(180deg);transform:translateX(-20px) rotate(180deg);}
    50%  {-webkit-transform:translateX(-0px) rotate(180deg);transform:translateX(-0px) rotate(180deg);}
    100%  {-webkit-transform:translateX(-20px) rotate(180deg);transform:translateX(-20px) rotate(180deg);}
}
@keyframes right{
    0% {-webkit-transform:translateX(-20px) rotate(180deg);transform:translateX(-20px) rotate(180deg);}
    50%  {-webkit-transform:translateX(-0px) rotate(180deg);transform:translateX(-0px) rotate(180deg);}
    100%  {-webkit-transform:translateX(-20px) rotate(180deg);transform:translateX(-20px) rotate(180deg);}
}
section.join .next{
    width:25px;
    height: 25px;
    position: absolute;
    bottom:0;
    left: 45%;
    top:0;
    background-image: url(../img/箭头.png);
    background-size: 100% 100%;
    background-position: center center;
    cursor:pointer;
}
 .left{
    -webkit-animation:left 2s infinite;
            animation:left 2s infinite;
}
.box div.right{
    -webkit-animation:right 2s infinite;
            animation:right 2s infinite;

}

/* ========

    播放器
   ========*/



 .control{
width:100%;
height:100%;
position: absolute;
top:0;
left:0;
-webkit-transform:translateX(50%);
    -ms-transform:translateX(50%);
        transform:translateX(50%);
background-image: url('../img/播放.png');
background-size: 20%;
background-repeat: no-repeat;
background-position:center center;
-webkit-transform-origin: right center;
    -ms-transform-origin: right center;
        transform-origin: right center;
-webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
        transition: all .5s ease;
        opacity: 1;
}

.team-video:hover .control{
    background-size: 30%;
    opacity:1;
}

.team-video .play{
background-image: url('../img/播放.png');
opacity:1;
}
.team-video .pause{
    background-image: url('../img/暂停.png');
    opacity: 0;

}


/* ============
     组别
============= */
.group{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url(../img/background.jpg);
}
.group-wrap{
    width: 500%;
    height: 100%;
    -webkit-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.group-wrap div[class$="group"]{
    height: 100%;
    width: 20%;
    padding: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
}
.group-img{
    float: left;
    position: relative;
    width: 500px;
    height: 500px;
}
.group-img img{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
    -webkit-animation: move 2s linear infinite;
            animation: move 2s linear infinite;
}
@-webkit-keyframes move{
    25%{
        top: 0px;
    }
    50%{
        top: 50px;
    }
    75%{
        top: 100px;
    }
    100%{
        top: 50px;
    }
}
@keyframes move{
    25%{
        top: 0px;
    }
    50%{
        top: 50px;
    }
    75%{
        top: 100px;
    }
    100%{
        top: 50px;
    }
}
.intro{
    float: left;
    margin-left: 290px;
    margin-top: 100px;
}
.intro h1{
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    color:#00ffb8;
    font-family:"pingfang";
    text-indent:20px;
    font-style: normal;
}
.intro p{
    width: 500px;
    height: 300px;
    font-size: 18px;
    margin-top: 50px;
    line-height: 45px;
    font-family:"pingfang";
    text-indent: 2em;
}
.index{
    position: absolute;
    bottom: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}
.index ul li{
    width: 13px;
    height: 13px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
.index ul li span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #D2CFCF;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 50%;
    margin: 2px auto;
}
.index ul li:first-child{
    margin-left: 0;
}
.index-active{
    background-color: #83C3DD!important;
    -webkit-transform: scale(1.4,1.4);
            -ms-transform: scale(1.4,1.4);
        transform: scale(1.4,1.4);
}

section.group .left,.right{
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}
section.group .left{
    left: 0;
}
section.group .right{
    right: 0;
}
/* ============
      作品
   ============ */
.works{
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.work-wrap{
    width: 900px;
    height: 500px;
    margin: 170px auto;
}
.products{
    width: 398px;
    height: 198px;
    float: left;
    position: relative;
    left: -135%;
    margin: 25px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transform: skewX(0);
            -ms-transform: skewX(0);
        transform: skewX(0);
}
@-webkit-keyframes iskew{
    0%{
        -webkit-transform: skewX(-15deg);
                transform: skewX(-15deg);
    }
    50%{
        -webkit-transform: skewX(-45deg);
                transform: skewX(-45deg);
    }
    75%{
        -webkit-transform: skewX(-15deg);
                transform: skewX(-15deg);
    }
    100%{
        -webkit-transform: skewX(0);
                transform: skewX(0);
    }
}
@keyframes iskew{
    0%{
        -webkit-transform: skewX(-15deg);
                transform: skewX(-15deg);
    }
    50%{
        -webkit-transform: skewX(-45deg);
                transform: skewX(-45deg);
    }
    75%{
        -webkit-transform: skewX(-15deg);
                transform: skewX(-15deg);
    }
    100%{
        -webkit-transform: skewX(0);
                transform: skewX(0);
    }
}
.products img{
    width: 300px;
    height: 120px;
    display: block;
    margin: 25px auto;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.slideBox-cover{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.slideBox{
    width: 600px;
    height: 600px;
    background: rgb(31,32,50);
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    display: none;
}
.slide-head{
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #757171;
}
.slide-head h1{
    float: left;
    font-style: normal;
    font-size: 24px;
    padding-left: 25px;
    margin-top: 17px;
    margin-left: 10px;
}
.slide-head span{
    position: absolute;
    display: inline-block;
    right: 25px;
    top: 18px;
    color: #B5B1B1;
    font-size: 30px;
    line-height: 26px;
    cursor: pointer;
}
.slide-head span:hover{
    color: #848080;
}
.slideBody{
    width: 100%;
    height: 500px;
}
.slideBody p{
    padding: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    text-indent: 2em;
}
.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0C0C0C;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.detail{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0C0C0C;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 200px;
}

.honor{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/background.jpg);
    overflow: hidden;
}
.image-wrap{
    font-size: 0;
    position: absolute;
    width: 330px;
    height: 270px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(0);
            -ms-transform: translate(-50%,-50%) rotate(0);
        transform: translate(-50%,-50%) rotate(0);
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    opacity: 0;
}
.image-wrap img{
    width: 300px;
    height: 240px;
    padding: 15px;
    border: 1px solid #C4C0C0;
    position: absolute;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
        transform: rotate(0);
}
.image-wrap img:hover{
    -webkit-transform: scale(1.2,1.2);
            -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    -webkit-box-shadow: 0 0 5px 5px #fff;
            box-shadow: 0 0 5px 5px #fff;
}
.show{
    opacity: 1;
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
            -ms-transform: translate(-50%,-50%) rotate(360deg);
        transform: translate(-50%,-50%) rotate(360deg);
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #1B2223;
    text-align: center;
}
.footer p{
    font-size: 14px;
    line-height: 50px;
}
